.SchedulerCalendar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-inline: 4rem;

  .SchedulerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .CurrentDate {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: left;

      .CurrentTime {
        font-size: x-large;
        font-weight: 400;
      }

      p {
        margin-top: 0;
        font-size: large;
      }
    }

    .ButtonsMenu {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .HeaderButton {
        padding: 1rem;
        border: 0.15rem solid #e5e5e5;
        border-radius: 0.75rem;
        background-color: white;
        padding-inline: 2rem;
        height: 4rem;
        font-size: larger;

        &:focus,
        &:hover {
          border: 0.15rem solid #ffb803;
        }
      }

      .TimeModSelect {
        border: 0.15rem solid #e5e5e5;
        border-radius: 0.75rem;
        padding-inline: 2rem;
        height: 4rem;
        font-size: larger;

        &:focus {
          border: 0.15rem solid #ffb803;
        }
      }
    }
  }

  .SchedulerGrid {
    align-content: center;
    justify-content: center;
    border-collapse: collapse;
    margin-block: 2rem;

    .TableHeader {
      align-content: center;
      justify-content: center;
      border-top: none;

      .ColumnName {
        padding-inline: 1.75rem;
        border-top: none;
        font-size: x-large;
        font-weight: 300;

        .WeekDates {
          font-size: xx-large;
          font-weight: 600;
        }

        .TodaysDate {
          width: 4rem;
          margin-block: 2rem;
          margin-inline: auto;
          border-radius: 0.75rem;
          background-color: #ffb803;
          color: white;
        }
      }
    }

    th,
    td {
      min-width: 8rem;
      height: 4rem;
      border: 0.15rem solid #e5e5e5;
    }

    .MainColumn {
      border-left: none;
      font-size: large;
      width: 3rem;
      min-width: 3rem;
      max-width: 3rem;
    }
  }
}
