.SchedulerToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .LogoSide {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .ToolbarLogo {
      align-self: center;
      width: 4rem;
      height: 4rem;
    }

    .AppName {
      font-weight: 500;
      align-content: center;
    }
  }

  .ButtonsSide {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1rem;

    #theme-toggle {
      visibility: hidden;
    }

    #theme-toggle:not(:checked) + label {
      background-color: transparent;
      box-shadow: inset -18px -16px 1px 1px #fff;
    }

    #theme-toggle:checked + label {
      background-color: gold;
    }

    .ThemeToggle {
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      align-self: center;
      width: 3.5rem;
      height: 3.5rem;

      //TODO: Triangles instead of circles
      box-shadow: 1.5em 1.5em 0 2.5em gold inset, 0 -2.5em 0 -1.5em gold,
        1.75em -1.75em 0 -1.5em gold, 2.5em 0 0 -1.5em gold,
        1.75em 1.75em 0 -1.5em gold, 0 2.5em 0 -1.5em gold,
        -1.75em 1.75em 0 -1.5em gold, -2.5em 0 0 -1.5em gold,
        -1.75em -1.75em 0 -1.5em gold;
    }
  }
}
